@font-face {
  font-family: 'Visuelt Pro';
  src: local("Visuelt Pro Bold"), local("Visuelt-Pro--Bold"), url("../fonts/VisueltPro-Bold.woff2") format("woff2"), url("../fonts/VisueltPro-Bold.woff") format("woff"), url("../fonts/VisueltPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro Medium';
  src: local("Visuelt Pro Medium"), local("Visuelt-Pro--Medium"), url("../fonts/VisueltPro-Medium.woff2") format("woff2"), url("../fonts/VisueltPro-Medium.woff") format("woff"), url("../fonts/VisueltPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

section {
  max-width: 1230px;
  padding: 0 35px;
  margin: 0 auto;
}

h1 {
  font-family: 'Visuelt Pro';
  font-size: 44px;
  line-height: 140%;
  color: #4F4E4D;
}

h1.inner, h2, h3, h4 {
  font-weight: 500;
  line-height: 140%;
  color: #4F4E4D;
}

h1.inner, h2 {
  font-family: 'Inter', sans-serif;
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h1 span, h1.inner span, h2 span, h3 span, h4 span {
  color: #F78328;
}

p, a {
  font-size: 16px;
  line-height: 150%;
  color: #4F4E4D;
}

a:hover, a:focus {
  color: #F78328;
}

a.btn, input[type=submit] {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  padding: 24px 56px 24px 40px;
  background-color: #F78328;
  min-width: 240px;
  -webkit-transition: .3s;
  transition: .3s;
  border: none;
  cursor: pointer;
}

a.btn::after, input[type=submit]::after {
  content: '';
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 16px;
  height: 10px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  -webkit-transition: .3s;
  transition: .3s;
  top: 26px;
}

.submit-wrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

.submit-wrapper::after {
  content: '';
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 32px;
  width: 16px;
  height: 13px;
  -webkit-transition: .3s;
  transition: .3s;
}

.submit-wrapper:hover::after, .submit-wrapper:focus::after {
  right: 22px;
}

a.btn:hover, a.btn:focus, input[type=submit]:hover, input[type=submit]:focus {
  background-color: #FC9544;
}

a.btn:hover::after, a.btn:focus::after, input[type=submit]:hover::after, input[type=submit]:focus::after {
  margin-left: 20px;
}

input[type=submit]:disabled {
  cursor: not-allowed;
}

a.btn.light-btn {
  padding: 17px 43px;
  background-color: transparent;
  border: 2px solid #4F4E4D;
  color: #4F4E4D;
  min-width: auto;
}

a.btn.light-btn::after {
  display: none !important;
}

a.btn.light-btn:hover, a.btn.light-btn:focus {
  border-color: #F78328;
  background-color: #F78328;
  color: white;
}

main {
  margin-top: 163px;
}

@media screen and (max-width: 1050px) {
  main {
    margin-top: 60px;
  }
}

@media screen and (max-width: 400px) {
  main {
    margin-top: 60px;
  }
  section {
    width: 300px;
    padding: 0;
  }
}
/*# sourceMappingURL=constants.css.map */