.page-404 {
    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 180px;
        line-height: 100%;
    }
    .first-index-slide section {
        min-height: auto;
    }
}

.info-404 {
    max-width: 350px;

    & > p {
        margin: 20px 0 30px;
    }
}

.select-btn-404 {
    text-align: center;
    width: 300px;

    p {
        margin: 20px 0 15px;
    }
}

.portfolio-link--404 {
    color: #F78328;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .info-404 {
        max-width: 100% !important;
        text-align: center;
    }
    .select-btn-404 {margin: 0 auto;}
    .page-404 h1 {font-size: 150px;}
}